body {
    background-color: #CCB1AF !important;
}


.announcement-bar{
    max-height: 23px !important;
    text-align: center;
}

.annoucement-text p{
    font-weight: 300;
}

/* .navbar {
    background-color: #FFDEDB;
    height: 100px;
} */


.ul-inline ul li{
    display: inline;
}

.ul-black a{
    color: inherit; 
    text-decoration: inherit; 
}

.nav-ul {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.page-title-wrapper{
margin-bottom: 20px;
}

.copyright_section {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}